@import './base.css';

form {
    margin-bottom: 20px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 4px;
    overflow: auto;
}